<nav class="navbar navbar-default navbar-fixed-top">
  Mission to Mars
</nav>
<div class="container">

  <div class="row">

    <section class="col-sm-6">

    <!-- XXX:  <app-mission-form></app-mission-form>-->

    <header class="form-group">
      <label for="missionName">Mission Name
        <input id="missionName" class="form-control" #name />
      </label>
      <label for="launchDate">Launch Date
        <input id="launchDate" class="form-control" #date />
      </label>
      <label for="notes">Notes
        <input id="notes" class="form-control" #notes />
      </label>
      <div class="text-right">
        <button type="button" name="button" (click)="add(name.value,date.value,notes.value);" class="btn btn-primary">Add New</button>
      </div>
    </header>


      <table class="table table-hover">
        <thead>
          <tr>
            <td>
              Mission
            </td>
            <td>
              Lanch Date
            </td>
            <td>
              Notes
            </td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let mission of missions" (click)="onSelect(mission)">
            <td>
              {{mission.name}}
            </td>
            <td>
              {{mission.date}}
            </td>
            <td>
              {{mission.notes}}
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <app-mission-detail [mission]="selectedMission"></app-mission-detail>
  </div>



</div>
