<section *ngIf="mission" class="col-sm-6">
  <header class="mission-detais-header">
    <span>{{mission.name}}</span>
  </header>

  <article>
    <div class="text-right">
      <button (click)="delete(mission); $event.stopPropagation()" type="button" name="button" class="btn btn-primary">Delete</button>
      <button type="button" name="button" class="btn btn-primary">Edit</button>
    </div>

    <table>
      <tr>
        <td>
          <span>Lanch Date:</span>
        </td>
        <td>
          <span>{{mission.date}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>Short Notes:</span>
        </td>
        <td>
          <span>{{mission.notes}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>Status:</span>
        </td>
        <td>
          <span>Planed Launch</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </td>
      </tr>
    </table>

  </article>

</section>
