<header class="form-group">
  <label for="missionName">Mission Name
    <input id="missionName" class="form-control" [(ngModel)] = "mission.name" />
  </label>
  <label for="launchDate">Launch Date
    <input id="launchDate" class="form-control" [(ngModel)] = "mission.date" />
  </label>
  <label for="notes">Notes
    <input id="notes" class="form-control" [(ngModel)] = "mission.notes" />
  </label>
  <div class="text-right">
    <button type="button" name="button" (click)="add(mission);" class="btn btn-primary">Add New</button>
  </div>
</header>
